<div class="login-page">
    <div class="form">
      <form class="text" accept="/login" method="POST">
        <input type="text" placeholder="email" name="email"/>
        <input type="password" placeholder="password" name="password"/>
        
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      
    </div>
  </div>
  <script>$('.message a').click(function(){
    $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
 });</script> 
  